amqp
asgiref
asttokens
billiard
black
celery
cfgv
click
click-didyoumean
click-plugins
click-repl
coverage
decorator
distlib
Django
django-cors-headers
django-crispy-forms
django-filter
django-stubs
django-stubs-ext
djangorestframework
djangorestframework_simplejwt
drf-yasg
executing
filelock
flake8
identify
inflection
iniconfig
ipython
ipython_pygments_lexers
isort
jedi
kombu
matplotlib-inline
mccabe
mypy
mypy_extensions
nodeenv
packaging
parso
pathspec
pexpect
pillow
platformdirs
pluggy
pre_commit
prompt_toolkit
psycopg2-binary
ptyprocess
pure_eval
pycodestyle
pyflakes
Pygments
PyJWT
pytest
pytest-django
python-dateutil
python-dotenv
pytz
PyYAML
redis
six
sqlparse
stack-data
traitlets
types-PyYAML
typing_extensions
tzdata
uritemplate
vine
virtualenv
wcwidth
